table {
    &>thead>tr>th {
        border: 1px solid black;
    }
  &>th, td {
      border: 1px solid black;
  }
  &>tbody{
      text-align: end;
  }
  &>tbody>tr>:first-child {
      text-align: start;
  }
}