<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Fork" #input />
</mat-form-field>

<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nameOfItem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</th>
      <td mat-cell *matCellDef="let row">{{ row.nameOfItem }}</td>
    </ng-container>

    <ng-container matColumnDef="parked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>In Inventory</th>
      <td mat-cell *matCellDef="let row">{{ row.parked }}</td>
    </ng-container>

    <ng-container matColumnDef="departing">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Out of Inventory
      </th>
      <td mat-cell *matCellDef="let row" {{row.departing}}></td>
    </ng-container>
    <ng-container matColumnDef="arriving">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Into Inventory</th>
      <td mat-cell *matCellDef="let row">{{ row.arriving }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<!-- <div>
  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Items in Inventory</th>
        <th>Items leaving from Inventory</th>
        <th>Items arriving into Inventory</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mockInventoryList">
        <td>{{ item.nameOfItem }}</td>
        <td>{{ item.parked }}</td>
        <td>{{ item.departing }}</td>
        <td>{{ item.arriving }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
