// table {
//   & > thead > tr > th {
//     border: 1px solid black;
//   }
//   & > th,
//   td {
//     border: 1px solid black;
//   }
//   & > tbody {
//     text-align: end;
//   }
//   & > tbody > tr > :first-child {
//     text-align: start;
//   }
// }

* {
  background-color: grey;
}

.controller-container {
  width: 100%;
  padding: 5%;
}

.controller-container > * {
  width: 100%;
}

.add-bottom-padding {
  padding-bottom: 10px;
}
