<form [formGroup]="itemForm" mat-form-field appearance="fill">
  <div mat-label>Input</div>
  <input matInput />
</form>
<div mat-form-field appearance="fill">
  <div mat-label>Select</div>
  <div mat-select>
    <div mat-option value="one">First option</div>
    <div mat-option value="two">Second option</div>
  </div>
</div>
<div mat-form-field appearance="fill">
  <div mat-label>Textarea</div>
  <textarea matInput></textarea>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Items in Inventory</th>
        <th>Items leaving from Inventory</th>
        <th>Items arriving into Inventory</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mockInventoryList">
        <td><input type="text" />{{ item.nameOfItem }}</td>
        <td>{{ item.parked }}</td>
        <td>{{ item.departing }}</td>
        <td>{{ item.arriving }}</td>
        <div>
          <app-button buttonText="-" class="remove"></app-button>
          <app-button buttonText="Update" class="Update"></app-button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
