<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Item Barcode</th>
        <th>Item Name</th>
        <th>Items in Inventory</th>
        <th>Items leaving from Inventory</th>
        <th>Items arriving into Inventory</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mockInventoryList">
        <td>{{ item.id }}</td>
        <td>{{ item.barCode }}</td>
        <td>{{ item.nameOfItem }}</td>
        <td>{{ item.parked }}</td>
        <td>{{ item.departing }}</td>
        <td>{{ item.arriving }}</td>
      </tr>
    </tbody>
  </table>
 
</div>
