/* You can add global styles to this file, and also import other style files */
$dark-color: #1E1F28;
$primary-color: #EF3651;
$error-color: #FF2424;
$gray-color: #ABB4BD;
$sale-hot-color: #FF3E3E;
$success-color: #55D85A;
$white-color: #F6F6F6;


*, body {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
